<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8d20943c-cfcf-462c-acfb-83ce009e7a63/resourcegroups/DefaultResourceGroup-WUS/providers/Microsoft.Web/sites/CollectionsAPI20251104130521</ResourceId>
    <ResourceGroup>DefaultResourceGroup-WUS</ResourceGroup>
    <ApiResourceId>/subscriptions/8d20943c-cfcf-462c-acfb-83ce009e7a63/resourceGroups/DefaultResourceGroup-WUS/providers/Microsoft.ApiManagement/service/CollectionsAPI-apim/apis/CollectionsAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://collectionsapi20251104130521.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>04c85972-6db0-4647-9a56-e6c52bf62158</ProjectGuid>
    <MSDeployServiceURL>collectionsapi20251104130521.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CollectionsAPI20251104130521</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$CollectionsAPI20251104130521</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>