<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://galeriqapi-container-bqg3a9cxe7hecnhn.scm.canadacentral-01.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/8d20943c-cfcf-462c-acfb-83ce009e7a63/resourcegroups/DefaultResourceGroup-CCAN/providers/Microsoft.ContainerRegistry/registries/GaleriqGaleriqAPIContainerRegistry</ContainerResourceId>
    <ContainerResourceName>GaleriqGaleriqAPIContainerRegistry</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>galeriqgaleriqapicontainerregistry.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ApiResourceId>/subscriptions/8d20943c-cfcf-462c-acfb-83ce009e7a63/resourceGroups/DefaultResourceGroup-WUS/providers/Microsoft.ApiManagement/service/CollectionsAPI-apim/apis/CollectionsAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/8d20943c-cfcf-462c-acfb-83ce009e7a63/resourcegroups/DefaultResourceGroup-CCAN/providers/Microsoft.Web/sites/GaleriqAPI-container</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CCAN</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://galeriqapi-container-bqg3a9cxe7hecnhn.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>04c85972-6db0-4647-9a56-e6c52bf62158</ProjectGuid>
  </PropertyGroup>
</Project>